.column {
  /* display: flex;
  flex-direction: column; */
  gap: 1rem; /* Optional: adds space between flex items */
}

/* If you want to make the entire app container flex as well */
.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 1rem;
  gap: 2rem;
}